{% extends 'first_app/base.html' %}
{% block body_block %}
<br><br><br><br><br>
<div class="container " >
    <div class="jumbotron" > 
    <br><br>
    <div class="row">
        <div class="col-md-11 text-center">
            
            <h1 class="p-3"> Login </h1>
            <form  method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                <button class="btn btn-success">login</button>
            </form>
            <br>
            <br><br>
        </div>
        </div>
    </div>
</div>
      

</div>

{% endblock %}
